@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Helvatica', sans-serif;
}

body{
   background-color: white;
}

 .main_content{
  border: 1px solid #e0e4e8;
  border-radius: 3px;
}

 .main_content .header{
    background: #fff;
    color: #717171;
    display: block;
    border-bottom: 1px solid #e0e4e8;
}
 .main_content .header p{
    padding: 10px 0 0 10px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.content{
  margin: 10px !important;
  display: inline-flex;
}

.table{
  min-width: 330px;
}

#order{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #b6b6be;
}

#order th{
    background-color: #594F8D;
    border-left: 1px solid white;
    color: white;
}

#order td{
    border-left: 1px solid #b6b6be;
    text-align: center;
}

.btn{
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  color: white !important;
}
#order td .In-order{
    background-color: #594F8D;
}

#order td .add-order{
    background-color: #28A745;
    font-weight: bold;
}

.total-board{
    background-color: #28A745;
    width: 100%;
    color: white;
    padding: 20px 0 10px 20px;
}
.table .total-board h2{
  font-weight: bold;
  font-size: 30px;
}
.table .total-board p{
  font-size: 15px;
}

#total-list{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #b6b6be;
    min-width: 270px;
}

#total-list tr th, tr td{
  border: 1px solid #b6b6be !important;
  text-align: center;
}
#total-list .increase{
  background-color: #28A745;
  margin: 3px;
  font-weight: bold;
}

#total-list .decrease{
  background-color: red;
  margin: 3px;
  font-weight: bold;
}

#total-list .cancel{
  background-color: red;
  font-weight: bold;
}

.pagination-block{
  margin-top: 20px;
}

.submit{
  right: 15px;
  background-color: #28A745 !important;
  margin-top: 10px;
  font-weight: bold;
  position: absolute;
}