@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Helvatica', sans-serif;
}

body{
   background-color: white;

}

.wrapper{
  display: flex;
  position: relative;
  height: 100vh;
  
  
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #252526;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
  font-size: 20px;
}

/* .wrapper .sidebar ul li a .fas{
  width: 25px;
} */


.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-radius: 5px;
}

.wrapper .main_content{
  border: 1px solid #e0e4e8;
  border-radius: 3px;
  width: 100vw ;

}


.wrapper .main_content .header{
    background: #fff;
    color: #717171;
    margin-top: 50px ;
   
}
.wrapper .main_content .header p{
    padding: 10px 0px 10px 10px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
    display: flex;
  
}
.wrapper .main_content .info .table{
  min-width: 330px;
}

.wrapper .main_content .info .specification{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

 .specification .search-box{
    width: 100%;
    position: relative;
    display: flex;
}

.specification .search-box .search{
    width: 40%;
    border: 3px solid #717171;
    border-right: none;
    border-radius: 5px 0 0 5px !important;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9dbfaf;
}
.specification .search-box .search:focus{
    color: #000;
    box-shadow: 0 0 5px #9dbfaf;
}
.specification .search-box .search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid #594F8D;
    background-color: #594F8D;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.specification .dropdown{
    position: relative;
    width: 300px;
    height: 36pxpx;
    border-radius: 10px;
}

.specification .dropdown::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10000;
    width: 8px; height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;

}

.specification .dropdown.active::before{
    top: 15px;
    transform: rotate(-225deg);
}

.specification .dropdown.active .option{
    display: block;
}

.specification .dropdown input{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.specification .dropdown .option{
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
.specification .dropdown .option div{
    padding: 8px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.specification .dropdown .option div:hover{
    background: #62baea;
    color: #fff;
}

#order{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #b6b6be;
}

#order th{
    background-color: #594F8D;
    border-left: 1px solid white;
    color: white;
}

#order td{
    border-left: 1px solid #b6b6be;
    text-align: center;
}

.btn{
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  color: white !important;
}
#order td .In-order{
    background-color: #594F8D;
}

#order td .add-order{
    background-color: #28A745;
    font-weight: bold;
}

.wrapper .main_content .info .total-board{
    background-color: #28A745;
    width: 100%;
    color: white;
    padding: 20px 0 10px 20px;
}
.table .total-board h2{
  font-weight: bold;
  font-size: 30px;
}
.table .total-board p{
  font-size: 15px;
}

#total-list{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #b6b6be;
    min-width: 270px;
}

#total-list tr th, tr td{
  border: 1px solid #b6b6be !important;
  text-align: center;
}
#total-list .increase{
  background-color: #28A745;
  margin: 3px;
  font-weight: bold;
}

#total-list .decrease{
  background-color: #28A745;
  margin: 3px;
  font-weight: bold;
}

#total-list .cancel{
  background-color: red;
 
}

.pagination-block{
  margin-top: 50px;
}

.submit{
  right: 15px;
  background-color: #28A745 !important;
  margin-top: 10px;
  font-weight: bold;
  position: absolute;
}